<div class="blog-page">
<div>
    <nav>
      <ul>
        <li class="post">
          <a class="nav-link" href="/" id="yourPostBtn">Your Post</a>
        </li>
        <li class="post">
          <a href="/addPost" id="newPostBtn">New Post</a>
        </li>
      </ul>
    </nav>
</div>

<div class="update-post-form" id="newPost">
  <form action="#" method="post">
      <h2>Update Post</h2>   
      <div>
        <input value={{name}} type="text" id="post-name" class=" login-input form-control" name="title" placeholder="Post Title" required="required">
      </div>  
      <div>
        <textarea type="text" class="input-box form-control" id="post-desc" name="post" rows="11" placeholder="Post Body" required="required">{{description}}</textarea>
      </div>   
      <div>
          <button type="submit" name="savePost" data-id="{{id}}" class="updateBtn login-button">Save</button><br>
      </div>
  </form>
</div>
</div>
<br>
  <div><center>Created by {{user.name}} on {{format_date date_created}}</center></div><br>
<script src="../js/postUpdate.js"></script>
